@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container); 
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/bg2nav.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}
.hrIndex{
    margin: 80px;
}


/* nav */
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.navTitle {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 46px;
}

.navItems {
    list-style: none;
}

.navLink {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.navLinks {
    color: #fff;
    text-decoration: none;
}

.navMenu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.navImg {
    display: block;
    width: 30px;
}

.navClose {
    display: var(--show, none);
}

/* hero container */

.heroContainer {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}
 
.heroTitle {
    font-size: 3em;
}

.heroParagraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #c17f7f;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;
}

/* about */


.about {
    text-align: center;
}

.subtitle {
    color: #e9b0b2;
    font-size: 2em;
    margin-bottom: 25px;
}

.aboutMain {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.aboutIcons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.aboutIcon {
    width: 40px;
}

.aboutParagraph {
    line-height: 1.7;
}

/* about second */

.aboutsecond {
    background-image: url(/img/bgcenter.jpg);
    background-size: cover;
    margin-top: 100px;
    overflow: hidden;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6em;
    align-items: center;
}

.secondAbout {
    max-width: 400px;
}

.subtitle2 {
    color: #fff;
    font-size: 32px;
}

.aboutParagraph2 {
    font-size: 19px;
    margin: 40px 0;
}

.aboutImg {
    width: 100%;
    height: 80%;
    display: block;
    border-radius: 120px;
}

/* price */

.price {
    text-align: center;
}

.priceTable {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.priceElement {
    background-color: #dca95f;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    height: 380px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454Da;
    --color-items: #696871;
}


.priceName {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 30px;
}

.pricePrice {
    font-size: 2.5em;
    color: var(--color-price);
}

.priceItems {
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.priceFeatures {
    color: #fff;
}

.priceCta {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    color: gray;
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}
hr{
    margin: 0 40px;
}
/* galery */

.galleryTitle{
    text-align: center;
    margin-bottom: 50px;
    color: #c17f7f;
    font-size: 36px;
}
.galleryContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    gap: 10px;
    background-color: #c17f7f;
    border-radius: 5px;
}

.galleryImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galleryItems:nth-child(1){
    grid-row-start: span 3;
}
.galleryItems:nth-child(2){
    grid-row-start: span 3;
}
.galleryItems:nth-child(3){
    grid-row-start: span 2;
}
.galleryItems:nth-child(4){
    grid-row-start: span 2;
}
.galleryItems:nth-child(5){
    grid-row-start: span 2  ;
}
.galleryItems:nth-child(6){
    grid-row-start: span 3;
}
.galleryItems:nth-child(7){
    grid-row-start: span 4;
}
.galleryItems:nth-child(8){
    grid-row-start: span 3;
}
.galleryItems:nth-child(9){
    grid-row-start: span 2;
}
/* Testimony */

.testimony {
    background-image: url(/img/bgcenter.jpg);
}

.testimonyContainer {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimonyBody {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.subtitle1 {
    color: rgba(0, 0, 0, 0.802);
    margin: 20px 0;
    font-size: 32px;
}

.testimonyreview {
    color: rgba(0, 0, 0, 0.802);
    font-size: 20px;
}

.someTestimony {
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

.testimonyBodyShow {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimonyImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimonyText {
    max-width: 700px;
}

.n .testimonyArrow {
    width: 90%;
    cursor: pointer;
}

/* question */

.questions {
    text-align: center;
}

.questionContainer {
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questionPadding {
    padding: 0;
    transition: padding .3s;
    border: 1px solid #dca95f;
    border-radius: 6px;
}

.questionPadding--add {
    padding-bottom: 30px;
}

.questionAnswer {
    padding: 0 30px 0;
    overflow: hidden;

}

.questionTitle {
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: #dca95f;
    justify-content: space-between;
}

.questionArrow {
    background-color: #dca95f;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .8s;
}

.questionArrow--rotate {
    transform: rotate(180deg);
}

.questionShow {
    text-align: left;
    height: 0;
    transition: heigth .8s;
    color: #1D293F;
    font-size: 20px;
}

.questionImg {
    display: block;
}

.questionCopy {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* footer */

.footer {
    background-image: url(/img/bgFooter.jpg);
    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
}

.footerTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footerTitle,
.footerEmail {
    color: #fff;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px soli #fff;
    padding-bottom: 6px;
}

.navFooter {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.navLinkFooter {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footerInputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footerInput {
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px; 
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footerSubmit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #c17f7f;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
} 

.footerCopy {
    --padding-container: 30px;
    text-align: center;
    color: #fff;
}

.footerIcons {
    margin-bottom: 10px;
}

.footerImg {
    width: 30px;
}
.footerCopyright{
    font-size: 18px;
}


/* medias queris */

@media (max-width:800px) {
    .navMenu {
        display: block;
    }

    .navLinkMenu {
        position: fixed;
        background-image: url(/img/bg2nav.jpg);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .navLinkShow {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .navClose {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;

    }

    .heroTitle {
        font-size: 2.5rem;
    }

    .aboutMain {
        gap: 2em;
    }

    .aboutIcons:last-of-type {
        grid-column: 1/-1;
    }

    .aboutContainer {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
    }

    .aboutText2 {
        text-align: center;
    }

    .secondAbout {
        grid-row: 1/2;
        justify-self: center;
    }

    .aboutImg {
        width: 100%;
        height: 80%;
        display: block;
        border-radius: 50px;
    }

    /* gallery */

    .galleryItems:nth-child(1){
        grid-row-start: span 2;
    }
    .galleryItems:nth-child(2){
        grid-row-start: span 2;
    }
    .galleryItems:nth-child(3){
        grid-row-start: span 2;
    }
    .galleryItems:nth-child(4){
        grid-row-start: span 2;
    }
    .galleryItems:nth-child(5){
        grid-row-start: span 2  ;
        grid-column-start: span 2;
    }
    .galleryItems:nth-child(6){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    .galleryItems:nth-child(7){
        grid-row-start: span 2;
    }
    .galleryItems:nth-child(8){
        grid-row-start: span 2;
    }
    .galleryItems:nth-child(9){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }


/* testimony */
    .testimonyContainer {
        grid-template-columns: 30px 1 fr 30px;
    }

    .testimonyBody {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .testimonyImg {
        width: 200px;
        height: 200px;
    }

    .questionCopy {
        width: 100%;
    }
    .footerContainer{
        flex-wrap: wrap;
    }
    .navFooter{
        width: 100%;
        justify-items: center;
    }
    .navLinkFooter{
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 40px;
    }
    .footerForm{
        width: 100%;
        justify-content: space-evenly;
    }
    .footerInput{
        flex: 1;
    }

}

@media(max-width : 600px){
    .heroTitle{ 
        font-size: 2rem;
    }

    .heroParagraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }
    .priceElement{
        width: 90%;
    }
    .testimony{
        --padding-container: 60px 0 ;
    }
    .testimonyreview{
        font-size: 16px !important;
    }
    .preiceElementBest{
        width: 90%;
    }

    .pricePrice{
        font-size: 2rem;
    }
    /* gallery */

    .galleryItems:nth-child(1){
        grid-row-start: span 1;
    }
    .galleryItems:nth-child(2){
        grid-row-start: span 1;
    }
    .galleryItems:nth-child(3){
        grid-row-start: span 2;
    }
    .galleryItems:nth-child(4){
        grid-row-start: span 1;
        grid-column-start: span 2;
    }
    .galleryItems:nth-child(5){
        grid-row-start: span 2 ;
        grid-column-start: span 3;
    }
    .galleryItems:nth-child(6){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    .galleryItems:nth-child(7){
        grid-row-start: span 2;
    }
    .galleryItems:nth-child(8){
        grid-row-start: span 2;
    }
    .galleryItems:nth-child(9){
        grid-row-start: span 2;
    }


    /* testimony */
    .testimonyContainer{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }
    .testimonyArrow{
        width: 100%;
    }
    .questionTitle{
        font-size: 1rem;
    }
    /* footer */
    .footerTitle{
        margin-bottom: 15px;
    }
    .navFooter{
        padding-bottom: 60px;
    }
    .footerInputs{
        flex-wrap: wrap;
    }
    .footerEmail{
        text-align: center;
    }
    .footerInput{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footerSubmit{
        margin-right: auto;
        width: 100% ;
    }
}

@media(max-width : 400px){
    /* gallery */
    .galleryItems:nth-child(1){
        grid-row-start: span 1;
        grid-column-start: span 2;
    }
    .galleryItems:nth-child(2){
        grid-row-start: span 1;
    }
    .galleryItems:nth-child(3){
        grid-row-start: span 1;
    }
    .galleryItems:nth-child(4){
        grid-row-start: span 1;
        grid-column-start: span 2;
    }
    .galleryItems:nth-child(5){
        grid-row-start: span 2 ;
        grid-column-start: span 3;
    }
    .galleryItems:nth-child(6){
        grid-row-start: span 1;
    }
    .galleryItems:nth-child(7){
        grid-row-start: span 1;
        grid-column-start: span 1;
    }
    .galleryItems:nth-child(8){
        grid-row-start: span 1;
        grid-column-start: span 1;
    }
    .galleryItems:nth-child(9){
        grid-row-start: span 1;
        grid-column-start: span 2;
    }
    .footerCopyright{
        font-size: 14px;
    }
}